.list{
	
	width: 40%;
	border: 1px solid black;
}
 
 .list span {
 	padding: 20px;
 }
 .list h2 {
 	padding: 20px;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 .btable{
 	display: flex;
 }
 .title{
 width: 15vw}
 
 .bth{
 	width: 5vw;
 }