@charset "UTF-8";


img{
	width: 20px;
}

.tableviewbox{
	border: 2px solid black;
}

.home1{
	background-color: black;
	color: white;
}

.star{
	width: 20px;
	height: 20px;
}

.box{
	border: 1px solid #eeeeee;
	border-radius: 10px;
	padding: 20px 20px 10px 20px;
}

.reviewbox{
	border: 1px solid #eeeeee;
	border-radius: 10px;
	padding: 20px 20px 10px 20px;
	
}

.tabletr{
	height: 50px;
}

.search{
	width: 60%;
    border-radius: 4px;
    border: 1px solid #bbb;
    margin: 10px 0;
    padding: 10px 12px;
}

.searchbtn{
	margin: 10px 0;
	padding: 10px 12px;
}

.write{
	margin-top: 10px;
	padding: 10px 12px;
	border-radius: 8px;
	border: 1px solid #bbb;
}

.line{
	border-bottom: 2px solid #eeeeee;
}

.page-link pagenum{
	text-decoration: none; color: black;
}
.rline{
	border-bottom: 2px solid #eeeeee;
	padding-bottom: 20px;
}


.tableheight{
	height: 100px;
}