@font-face {
    font-family: 'KOHIBaeumOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: 'KOHIBaeumOTF';
}


img{
	width: 30px;
}

.tableviewbox{
	border: 2px solid #eeeeee;
	border-radius: 10px;
	padding: 10px 20px 10px 20px;
}

.home1{
	background-color: #6a7ba2;
	color: white;
	border: 1px solid #bbb;
    border-radius: 5px;
    margin: 10px 0;
	padding: 10px 12px;
	cursor: pointer;
}




.lecturetable{
	border: 1px solid #eeeeee;
	border-radius: 10px;
	padding: 0px 20px 10px 20px;
}
.search{
	width: 60%;
    border-radius: 4px;
    border: 1px solid #bbb;
    margin: 10px 0;
    padding: 10px 12px;
}
.searchbtn{
	background-color: #6a7ba2;
	color: white;
	border: 1px solid;
    border-radius: 5px;
    margin: 10px 0;
	padding: 10px 12px;
	
}

.searchbox{
	padding-left: 320px;
}

.lname{
	font-size: 20px;
}

.lcollege{
	color: gray;
	font-size: 12px;
}

.selectbtn{
	border: 1px solid #bbb;
    border-radius: 5px;
    margin: 10px 0;
	padding: 10px 12px;
	cursor: pointer;
	cursor: pointer;
}

.textarea{
	border: 2px solid #eeeeee;
	border-radius: 10px;
	padding: 10px 20px 10px 20px;
	width: 100%;
    height: 6.25em;
    resize: none;
}


.submitbtn{
	width: 100%;
	border: 1px solid; background-color: #6a7ba2;
	color: white;
	  border-radius: 5px;
    margin: 0 auto;
	padding: 10px 12px;
}

.click{
	cursor: pointer;
}